h1{
background-color:#f6f4d2;
font-size: 45px;
color: #4A6C6F; 
width: 100vw;
text-align: center;
text-decoration: overline;
}

img {
  width: 50%;
  border-radius:50%;
  border: solid #E2E1B9 5px;
}

img:hover {
  width: 40%
}    
body{ 
background-color:#f6f4d2;
} 

nav{
  list-style-type: none;
  position: fixed;
  background-color: #E2E1B9;
  width: 100vw;
  top: 0;
  left: 0;
  padding: 8px;
  color: #4A6C6F; 
}

a{
  text-decoration:none;
  color:#4A6C6F;
}

li:hover{
  background-color:#d8f3dc;
}

li{ 
  display: inline;
  padding: 5px;
}

