<head> 
<link rel="stylesheet" href="style.css">
  </head>

nav{
  list-style-type: none;
  position: fixed;
  background-color: #E2E1B9;
  width: 100vw;
  top: 0;
  left: 0;
  padding: 8px;
  color: #4A6C6F; 
}

a{
  text-decoration:none;
  color:#4A6C6F;
}

li:hover{
  background-color:#d8f3dc;
}
